@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-hidden {
    &::-webkit-scrollbar {
      @apply hidden;
    }

    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
